[filesystem "AdoptOpenJDK|11.0.9.1|/dev/sda6"]
	timestampResolution = 10000 nanoseconds
	minRacyThreshold = 6035 microseconds
[user]
	email = phaalonso@gmail.com
	name = Pedro Alonso
[init]
	defaultBranch = main
[core]
	excludesFile = /home/pedro/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
