let mapleader=" "
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <g-d> :action GotoDeclaration<CR>
nnoremap <g-D> :action GotoTypeDeclaration<CR>
nnoremap <leader>d :action GotoTypeDeclaration<CR>
nnoremap <g-i> :action GotoImplementation<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

nnoremap <s-h> :action PreviousTab<CR>
nnoremap <s-l> :action NextTab<CR>

nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>q :action CloseContent<CR>

nnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>c :action CommentByLineComment<CR>
vnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>

nnoremap <leader>g :action Generate<CR>

nnoremap <leader>ws :action MoveTabDown<CR>
nnoremap <leader>wv :action MoveTabRight<CR>
nnoremap <leader>wm :action MoveEditorToOppositeTabGroup<CR>

nnoremap <m-j> :action MethodDown<CR>
nnoremap <m-k> :action MethodUp<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

" Extensions
set surround
set multiple-cursors
set commentary
"set argtextobj
"set easymotion
"set textobj-entire
"set ReplaceWithRegister

Plug 'preservim/nerdtree`

""" Common settings ---
set ideajoin
set nu
set relativenumber
set visualbell
set noerrorbells
set idearefactormode=keep

set NERDTree
let g:NERDTreeMapActiveNode='l'
let g:NERDTreeMapJumpParent='h'